* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
    padding: 0;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    max-height: 4976px;
    color: #fafafa;


}

header {
    width: 1440px;
    max-width: 1440px;
    
    max-height: 88px;
    margin: 0 auto;
    padding: 16px 160px;
    display: flex;
    justify-content: space-between;
    
    color: #ffffff;
    gap: 10px;
align-items: center;


}
.logo {
    display: flex;
    flex-direction: column;
    width: 65.4px;
    height: 22.87px;
    gap: 10px;
}
header a{
    border-bottom: 2px solid  transparent;
  
}
header a:hover{
    border-bottom: 2px solid #3b82f6;   
}
header button {
    border-bottom: transparent;
}
header button:hover {
    border-bottom: 2px solid #3b82f6;
    color:#3b82f6;
}
   

.search input{
background: transparent;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #656565;
    opacity: 50%;

}
.search {
    
    width: 372px;
    box-sizing: border-box;
    height: 56px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    
    padding: 16px;
    gap: 8px;
background-color: #f5f5f5; 
}

.search img {
    width: 16px;
    height: 16px;
    color: #989898;


}

.menu-list{
    display: flex;
    width:  369px;
    height: 19px;
    gap: 52px;
    white-space: nowrap;
    
    
    

}

.active-list{
    width: 46px;
    height: 19px;
    font-family: 'Inter', sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 100%;
    text-decoration: none;
    color: #000000;

}

.about{
    width: 47px;
    height: 19px;
    color: #000000;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    opacity: 30%;

}

.Blog{
  width: 34px;
    height: 19px;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    opacity: 30%;   
}


.contact-us{
        width: 86px;
        height: 19px;
        font-weight: 500;
        opacity: 30%;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        line-height: 100%;
}

.icons {
    width: 144px;
    height: 32px;
    gap: 24px;
    display: flex;
    align-items: center;

}
.head-like{
    width: 20px;
    height: 17.83px;
}
.head-sale{
    width: 24.89px;
    height: 22px;
}

.head-profile{
    width: 17px;
    height: 22px;
}

.banner{
    display: flex;
    width: 1440px;;
    height: 632px;
    justify-content: space-between;
    padding-left: 160px;
    padding-right: 160px;
    background-color: #211c24;
    align-items: center;
    


    
    
}

.content {
    display: flex;
    flex-direction: column;
    width: 714px;
 height: 256px;
 justify-content: center;
    min-width: 400px;
    gap: 24px;

  
    

}

.content-titles{
    display: flex;
    flex-direction: column;
    width: 714px;
   height: 128px;
    gap: 24px;
}

.banner-title{
height: 72px;
font-family: 'Inter', sans-serif;
font-weight: 100;
font-style: thin;
font-size: 96px;
line-height: 72px;
letter-spacing: -0.01em;
margin: 0;

}

.content-titles span{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 96px;
    line-height: 72px;
    letter-spacing: -0.01em;


}

.banner-subtitle{
    width: 714px;
    height: 32px;
    opacity: 40%;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    color: #ffffff;
    margin: 0;

}

.banner-description {
    width: 714px;
    height: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #909090;
    margin: 0;

}

.banner-button{
    display: flex;
    align-items: center;
    width: 191px;
    height: 56px;
border: 1px solid #ffffff;
border-radius: 6px;
padding: 16px 56px;
gap: 8px;
white-space: nowrap;
text-align: center;
margin: 0;

}
.button-text:hover{
    color:#3b82f6; 
}

.button-text {
    width: 79px;
    height: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px; 
    color: #ffffff;
    transition: 0.3s;
    

}

.banner-image {
    width: 406px;
    height: 632px;
  


   
    
}
.banner-image img{
width: 406px;
height: 632px;
object-fit: cover;
object-position: 50% -20%;
}

.category {
display: flex;
flex-direction: column;
width: 1440px;
height: 352px;
padding: 80px 160px;
gap: 32px;
background-color: #fafafa;

}
.top {
    display: flex;

    width: 1120px;
    height: 32px;
    justify-content: space-between;
}

.top h2{
    width: 239px;
    height: 32px;
    font-family: 'Inter', sans-serif;
    color: #000000;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.01em;

}


.arrows{
    display: flex;
    width: 80px;
    height: 32px;
    gap: 16px;
    align-items: center;
}

.button-arrows{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
}
.arrow-left{
    width: 100%;
    height: 100%;
    padding-top: 4.36px;
   
    padding-left: 9.67px;
}
.arrow-right{
    width: 100%;
    height: 100%;
    padding-top: 4.33px;
    padding-left: 9.67px;
}

.category-grid {
    display: flex;
    width: 1120px;
    height: 128px;
    gap: 32px;
}

.category-card {
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 128px;
    min-width: 135px;
    border-radius: 15px;
    padding: 24px 52px;
    gap: 8px;
    white-space: nowrap;
    background-color: #ededed;
  align-items: center;
  justify-content: center;
border: 1px solid transparent;
transition: 0.3s;
}
.category-card:hover{
border: 1px solid #3b82f6;
}

.category-card p{
    color:#000000;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
   
}
.category-card img {
    width: 48px;
    height: 48px;
}

.products {
    padding: 56px 160px;
    width: 1440px;
    max-width: 1440px; 
height: 1056px; 
    background-color: #ffffff;
    gap: 32px;
    display: flex;
    flex-direction: column;
    margin: 0 auto; 
 

}
.products-card {
    width: 268px;
    height: 432px;
    background-color: #f6f6f6;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    gap: 16px;
    border-radius: 9px;
    align-items: center;
    min-width: 200px; 


}

.active{
    font-family: 'Inter', sans-serif;
    border-bottom: 2px solid black;
    width: 100px;
    height: 32px;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
white-space: nowrap;
transition: 0.3s;
}
button {
    border: none;
    background: transparent;
    cursor: pointer;
}
.active2{
    color: #8b8b8b;
     font-family: 'Inter', sans-serif;
     width: 86px;
     height: 32px;
     font-size: 18px;
     line-height: 32px;
     font-weight: 500;
    white-space: nowrap;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}
     .active-3{
         font-family: 'Inter', sans-serif;
         width: 159px;
         height: 32px;
         font-weight: 500;
         font-size: 18px;
         line-height: 32px;
         color: #8b8b8b;
white-space: nowrap;
border-bottom: 2px solid transparent;
transition: 0.3s;

     }
.active:hover,
.active2:hover, 
.active-3:hover{
    border-bottom: 2px solid #3b82f6;
    color: #3b82f6;
}

.tags {
    display: flex;
    height: 32px;
    gap: 32px;
    width: 1120px;
    align-items: center;


}
img {
    width: 160px;
    height: 160px;
}
h3 {
    width: 236px;
    height: 48px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #000000;

}
.price {
    width: 236px;
    height: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 0px;
    color: #000000;

}
.buy-now {
width: 188px;
height: 48px;
border-radius: 8px;
background-color: #000000;
color: #ffffff;
font-size: 14px;
font-family: Inter, sans-serif;
font-weight: 500;
line-height: 24px;
text-align: center;
white-space: nowrap;
padding: 12px 64px;
gap: 8px; 
transition: color 0.3s, border-color 0.3s;

}
.card-header {
display: flex;
justify-content: flex-end;
width: 236px;
height: 32px;
gap: 8px;
}
.favorite-icon {
    width: 32px;
    height: 32px;

}
.products-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, 268px);
    gap: 16px;

    
}
.buy-now:hover {
    color: #3b82f6;
    border: 1px solid #3b82f6;
}
